/* // use only the available space inside the 400x400 frame */
.frame {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 30px;
	width: 390px;
	height: 800px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	background: #fff;
	color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
}

body {
    background-color: #fff;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.pix {
	height: 60px;
	width: 86px;
	margin: 5px;
	background-color:rgb(235, 235, 123);
	border: 1px solid white;
	box-sizing: border-box;
	text-align: center;
	border-radius: 10%;
}

.pix:hover {
	cursor:pointer;
}

.center {
	display: flex;
	flex-wrap: wrap;
}

.clicked {
	background-color: black;
	color: white;
}

p {
	user-select: none;
}

/* seat status section */
.seat-status {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	justify-content: space-between;
	width: 390px;
	margin: 0 auto;
}


/* media query */

@media (min-width: 770px) {
	.frame {
	width: 770px;
	height:396px;
	}

	.seat-status {
		width: 770px;
	}

	body {
		height: 100vh;
	}
	
}