* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.card {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: orange;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    box-shadow:3px 5px 6px -2px #000,-6px -7px 6px -2px #ecdede;
    border-radius: 10px;
}

.card img {
    width: 300px;
    height: 200px;  
}