* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 13px;
}

h4 {
    margin: 4px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    
}

.container {
    height: 400px;
    width: 500px;
    overflow-y: auto;
    overflow-x: scroll;
    padding: 10px 0px 10px;
    background-color: green;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    position: relative;
    margin: 5px;
    border-radius: 20px;
    width: 80%;
    box-shadow:3px 1px 9px -1px #0d0e0c;
    background-color: lightgreen;
    display: flex;
    align-items: center;
}

.cal-col {
    height: 100%;
    width: 70px;
    border-radius: 20px 0px 0px 20px;
    margin-right: 7px;
}

.tha20-delete {
    padding: 8px;
    position: absolute;
    right: 10px;
    background-color: darkgreen;
    border: none;
    color: white;
    border-radius: 10px;
}


/* THA 21 */

.Tha21 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.tha21-form {
    margin-bottom: 30px;
    background-color: #F38BA0;
    padding: 20px;  
}

.tha21-button {
    padding: 5px 10px;
    color: #F38BA0;
    background-color: #B5EAEA;
    border: none;
    margin: 0px 5px;
}

.input-field {
    padding: 5px 10px;
    margin: 10px;
    border: none;
}

.input-field {
    outline: none;
    border: none;
}

.item {
    background-color: #F38BA0;
    color: white;
    padding: 20px;
    margin: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.item-foodname {
    margin-bottom: 5px;
}

.item-calories {
    margin: 10px;
}

.item-delete {
    margin: 5px;
    padding: 5px;
}

.item-edit {
    margin: 5px;
    padding: 5px;
}

